header {
  margin-bottom: 100px;
}

.margin {
  margin-bottom: 100px;
}

.form {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  border-color: gray;
  box-sizing: border-box;
  font-family: sans-serif;
}

span{
  font-family: sans-serif;
}

.chat-h {
  text-align: center;
  margin-left: 30px;
  font-family: sans-serif;
  font-size: 25px
}

.list {
  margin-top: 20px;
  text-align: left;
  margin-left: 20px;
  font-family: sans-serif;
  font-size: 30px;
}

.each-p {
  font-size: 25px;
}

.indent {
  padding-left: 15px;
}

.text-left {
  float: left;
  padding-left: 15px;
}

.margin10px {
  margin: 10px;
}

.text-right {
  float: right;
  padding-right: 15px;
}

.textline {
  text-decoration: line-through;
  color: grey;
}

.right {
  float: right;
}

.left {
  float: left;
}

.width100 {
  width: 100%;
}

.width70 {
  width: 70%;
}

.width60 {
  width: 60%;
}

.width50 {
  width: 50%;
}

.width40 {
  width: 40%;
}

.width30 {
  width: 30%;
}

.width20 {
  width: 20%;
}

.zeromargin {
  margin: 0;
}

.graybg {
  background-color: #CFCFCF;
}

.greentext {
  color: #70a050;
}

.greenbg {
  background-color: #70a050;
}

.redtext {
  color: #E96245;
}

.redbg {
  background-color: #E96245;
}

.bluetext {
  color: #7B9FCF;
}

.bluebg {
  background-color: #7B9FCF;
}

.whitetext {
  color: white;
}

.upcorner {
  border-radius: 4px 4px 0px 0px;
}

.downcorner {
  border-radius: 0px 0px 4px 4px;
}

.leftcorner {
  border-radius: 4px 0px 0px 4px;
}

.rightcorner {
  border-radius: 0px 4px 4px 0px;
}

.nocorner {
  border-radius: 0px 0px 0px 0px;
}

.grayborder {
  border-top: 1px solid gray;
  border-right: 1px solid gray;
  border-left: 1px solid gray;
}

.grayborder-full {
  border: 1px solid gray;
  border-radius: 0px;
}

.flexdis {
  display: flex;
}

.flex1 {
  flex: 1;
}

.hidden {
  display: none;
}

.unflex {
  display: block;
}

.authform {
  /*width: 480px;
  height: 170px;*/
  width: 500px;
}

.authtext {
  /* width: 575px; */
  width: 600px;
  font-family: sans-serif;
}

.main-page-h {
  text-align: left;
  background-color: #7a286d;
  height: 60px;
  background-size: 100%;
  margin: 0px;
  padding: 0px;
}

.main-page-span {
  margin-left: 1350px;
  margin-top: 0px;
  padding-top: 12px;
  color: white;
  font-size: 20px;
  font-family: sans-serif;
}
.main-page-h1 {
  margin-left: 150px;
  margin-top: 0px;
  padding-top: 12px;
  color: white;
  font-size: 30px;
  font-family: sans-serif;
}

.registration-form {
  margin-top: 150px;
  width: 50%;
  font-family: serif;
}
.profile-full-name {
  font-family: sans-serif;
}

body {
  margin: 0px
}

.from {
  margin-left: 50px
}
.message-text {
  font-family: sans-serif;
  font-size: 30px;
}

.to {
  margin-left: 50px;
}

@media screen and (max-width: 1400px){
  .mobile100 {
    width: 100%;
  }
  .mobileunflex {
    display: block;
    border-radius: 4px;
  }
  .registration-form {
    margin-left: 250px;
  }
  .authtext {
    margin-right: 150px;
    font-size: 70px
  }
  .main-page-h {
    height: 150px;
    margin-left: 0px;
  }

  .authform {
    width: 100%
  }

  .main-page-span {
    margin-left: 500px;
  }

  .authtext {
    display: none;
  }
  .main-page-h1 {
    font-size: 70px;
    padding-top: 30px;
  }

}
